<div id="profile-content" class="column">
    <div class="columns">
        <div class="column is-6">
            <app-profile-picture></app-profile-picture>
        </div>
        <div class="column is-6">
            <app-profile-password></app-profile-password>
        </div>
    </div>

    <div class="columns">
        <div class="column is-6">
            <app-profile-info></app-profile-info>
        </div>
        <div class="column is-6">
            <app-profile-location></app-profile-location>
        </div>
    </div>
</div>