<figure id="top-container" class="image">
    <div id="header">
        <div class="columns">
            <div class="column is-6">
                <h2 class="title is-6"><span id="header-title" class="bold">Sportcorp</span></h2>
            </div>
            <div class="column is-6">
                <div id="button-container" class="columns">
                    <div class="column i-12 has-text-centered">
                        <a class="button orange">Connexion</a>
                    </div>

                    <div class="column i-12 has-text-centered">
                        <a class="button is-info">S'inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="imageText">
        <div id="textContainer">
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <h1 class="title is-1 bold white">Trouver un partenaire sportif en toute facilité</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <h1 class="title is-1 white">Aujourd'hui j'ai envie de faire du <span class="sport">{{activity}}</span></h1>
                </div>
            </div>
            <div class="columns">
                <div class="column i-12 has-text-centered">
                    <a class="button is-large is-info">En découvrir plus</a>
                </div>
            </div>
        </div>
    </div>
    <img id="background-image" src="../../../img/velo1.jpg" alt="backscreen">
</figure> 

<div class="columns" id="slogan">
    <div id="slogan-container" class="column is-12 has-text-centered vertical-align-center">
        <h1 class="title is-1 vertical-align-top">Manger 5 fruits et légumes par jour c'est bien</h1>
        <h1 class="title is-1 bold vertical-align-top">Faire du sport avec 5 amis c'est mieux !</h1>
    </div>
</div>

<div id="pub" class="columns">
    <div class="column is-4 has-text-centered">
        <div class="columns full-height">
            <div class="column is-8 is-offset-2 full-height">
                <div class="detail">
                    <span class="icon is-large">
                        <i class="fa fa-ravelry"></i>
                    </span>
                    <h4 class="title is-4">Trouver partenaire à votre pied</h4>
                    <p>
                        Vous allez pouvoir à coup sur trouver un partenaire de votre niveau selon les activités que vous avez envie du moment.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4 has-text-centered">
        <div class="columns full-height">
            <div class="column is-8 is-offset-2 full-height">
                <div class="detail">
                    <span class="icon is-large">
                        <i class="fa fa-map-marker "></i>
                    </span>
                    <h4 class="title is-4">Planifier vos activités</h4>
                    <p>
                        L'outil offre une interface simple et intuitive avec laquelle vous allez pouvoir proposer ou rejoindre des activités sportives avec d'autres menbres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4 has-text-centered">
        <div class="columns full-height">
            <div class="column is-8 is-offset-2 full-height">
                <div class="detail">
                    <span class="icon is-large">
                        <i class="fa fa-envelope-open "></i>
                    </span>
                    <h4 class="title is-4">Garder le contact</h4>
                    <p>
                        Vous disposez d'une messagerie privée vous permettant de contacter les menbres et de créer des groupes pour discuter ensemble.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns orange" id="bottom">
    <div id="bottom-container" class="column is-12 has-text-centered vertical-align-center">
        <h1 class="title is-1 white"> Toi aussi, rejoins nous, fait du sport, plein de rencontres</h1>
        <h1 class="title is-1 white"> Dans la joie et la bonne humeur !</h1>
    </div>
</div>

<div class="columns" id="footer">
    <div class="column is-12 has-text-centered">
        <p class="title is-4">Développé avec amour
            <span class="icon">
                <i class="fa fa-heart"></i>
            </span>
            à Laval
        </p>
    </div>
</div>