  <div id="navbar" class="column is-narrow has-text-centered">
      <div id="menu-navigation-icon">
          <span class="icon">
            <i class="fa fa-bars"></i>
          </span>
      </div>
      <div id="menu-navigation-item-container">
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-futbol-o "></i>
            </span><br/>
            Sports
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-calendar-check-o "></i>
            </span><br/>
            Activités
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-group"></i>
            </span><br/>
            Groupes
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-comments"></i>
            </span> <br/>
            Messages
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-bell"></i>
            </span><br/>
            Notifications
        </div>
        <div class="menu-navigation-item" [routerLink]="['/profile']">
            <span class="icon">
                <i class="fa fa-user"></i>
            </span><br/>
            Profil
        </div>
      </div>
      <div id="menu-navigation-signout">
         <span class="icon">
            <i class="fa fa-power-off"></i>
         </span><br/>
         Déconnexion
      </div>
  </div>