#content-activity-container, #user-activity-container {
    margin: 20px;
}

.content-activity-item, .user-activity-item {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    width: 100%;
}

.card img {
    filter: blur(2px)brightness(0.9);
}

.img-title {
    position: absolute;
    color: white;
    z-index: 150;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

#user-info {
    width: 100%;
    height: auto;
}

.user-activity-item .icon {
    line-height: 20px;
    font-size: 15px;
    width: 20px;
}

.user-activity-item hr {
    margin-bottom: 10px;
    margin-top: -10px;
}

.user-activity-item-content {
    min-height: 132px;
}