<div id="dashboard-container" class="columns is-fullheight">
  <div id="dashboard-navbar" class="column is-narrow has-text-centered">
      <div id="menu-navigation-icon">
          <span class="icon">
            <i class="fa fa-bars"></i>
          </span>
      </div>
      <div id="menu-navigation-item-container">
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-star"></i>
            </span><br/>
            Favoris
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-futbol-o "></i>
            </span><br/>
            Sports
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-calendar-check-o "></i>
            </span><br/>
            Activités
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-group"></i>
            </span><br/>
            Groupes
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-comments"></i>
            </span> <br/>
            Messages
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-bell"></i>
            </span><br/>
            Notifications
        </div>
        <div class="menu-navigation-item">
            <span class="icon">
                <i class="fa fa-user"></i>
            </span><br/>
            Profil
        </div>
      </div>
      <div id="menu-navigation-signout">
         <span class="icon">
            <i class="fa fa-power-off"></i>
         </span><br/>
         Déconnexion
      </div>
  </div>


  <div id="dashboard-content" class="column">
      <div id="content-activity-container">
        <div id="content-activity-title columns">
            <div class="column is-12">
                <h3 class="title is-3">Découvrir les activités auprès de chez vous</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="content-activity-item">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            12 activités près de chez vous
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <h3 class="img-title title is-3">Cycle</h3>
                                <img src="../../img/velo1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Découvrir les annonces des cyclistes, vttéiste, vélo loisirs près de chez vous.
                            <br>
                            <small>120 Utilisateurs ce mois-ci</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content-activity-item">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            25 activités près de chez vous
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <h3 class="img-title title is-3">Sport à pied</h3>
                                <img src="../../img/running.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Découvrir les annonces des runners, marcheurs et randonneurs près de chez vous.
                            <br>
                            <small>280 Utilisateurs ce mois-ci</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content-activity-item">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            35 activités près de chez vous
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <h3 class="img-title title is-3">Sports collectifs</h3>
                                <img src="../../img/basket.jpg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Découvrir les annonces des footballeurs, basketteurs, volleyiste, handballeurs, rugbyman près de chez vous.
                            <br>
                            <small>280 Utilisateurs ce mois-ci</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
      </div>

      <div id="user-activity-container">
        <div id="user-activity-title" class="columns">
            <div class="column is-12">
                <h3 class="title is-3">Votre activité</h3>
            </div>
        </div>
          <div class="columns">
            <div class="column is-3 user-activity-item">
                <div class="user-activity-item-header" class="columns">
                    <div class="column is-12 bold">
                        Mes activités
                    </div>
                </div>
                <hr class="is-orange">
                <div class="user-activity-item-content columns">
                    <div class="column is-12">
                       <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>10</div>
                        </div>
                        <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>0</div>
                        </div>
                         <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>28/09 16h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>3</div>
                        </div>
                    </div>
                </div>
                <div class="user-activity-item-content" class="columns">
                    <a class="button is-info is-fullwidth">Consulter toutes mes activités</a>
                </div>
            </div>
            <div class="column is-3 user-activity-item">
                <div class="user-activity-item-header" class="columns">
                    <div class="column is-12 bold">
                        Mes propositions
                    </div>
                </div>
                <hr class="is-orange">
                <div class="user-activity-item-content columns">
                    <div class="column is-12">
                       <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>10</div>
                        </div>
                        <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>0</div>
                        </div>
                         <div class="activity columns">
                           <div class="column is-4">Course a pied</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>28/09 16h30</div>
                           <div class="column is-2"><span class="icon"><i class="fa fa-user-o"></i></span>3</div>
                        </div>
                    </div>
                </div>
                <div class="user-activity-item-content" class="columns">
                    <a class="button is-orange is-fullwidth">Consulter toutes mes propositions</a>
                </div>
            </div>
            <div class="column is-3 user-activity-item">
                <div class="user-activity-item-header" class="columns">
                    <div class="column is-12 bold">
                        Mes propositions
                    </div>
                </div>
                <hr class="is-orange">
                <div class="user-activity-item-content columns">
                    <div class="column is-12">
                       <div class="activity columns">
                           <div class="column is-6"><span class="icon"><i class="fa fa-user-o"></i></span>Suliac Blineau</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                        </div>
                        <div class="activity columns">
                           <div class="column is-6"><span class="icon"><i class="fa fa-user-o"></i></span>Nicolas Bouhous</div>
                           <div class="column is-6"><span class="icon"><i class="fa fa-clock-o"></i></span>23/09 18h30</div>
                        </div>
                    </div>
                </div>
                <div class="user-activity-item-content" class="columns">
                    <a class="button is-success is-fullwidth">Consulter toutes mes messages</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>