<div id="signin-container">
    <app-home-icon></app-home-icon>

    <div id="signin-form">
        <h3 class="title is-3 has-text-centered">Connexion</h3>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <p class="control has-icon">
                <input type="text" id="email" class="input" formControlName="email" placeholder="Email">
                <i class="signin-icon fa fa-envelope"></i>
            </p>
            <p class="control has-icon">
                <input type="password" id="password" class="input" formControlName="password" placeholder="Mot de passe">
                <i class="signin-icon fa fa-lock"></i>
            </p>
            <button type="submit" class="button is-orange is-fullwidth" [disabled]="!myForm.valid">Se connecter</button>
        </form>
    </div>
    <div id="signin-helper" class="columns">
        <div class="column is-6 has-text-centered border-right" [routerLink]="['/auth', 'signup']">
            <span class="icon">
                <i class="fa fa-edit"></i>
            </span>
            Créer un compte
        </div>
        <div class="column is-6 has-text-centered" [routerLink]="['/auth', 'forgot']">
            <span class="icon">
                <i class="fa fa-unlock-alt"></i>
            </span>
            Mot de passe perdu ?
        </div>
    </div>
</div>