<div id="signup-container">
    <app-home-icon></app-home-icon>
    <div id="signup-form">
        <h3 class="title is-3 has-text-centered">Inscription</h3>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <p class="control has-icon">
                <input type="text" id="firstName" class="input" 
                    formControlName="firstName" placeholder="Prénom">
                    <i class="signup-icon fa fa-user-circle-o"></i>
            </p>
            <p class="control has-icon">
                <input type="text" id="lastName" class="input" 
                    formControlName="lastName" placeholder="Nom">
                    <i class="signup-icon fa fa-user-circle"></i>
            </p>
            <p class="control has-icon">
                <input type="text" id="email" class="input" 
                    formControlName="email" placeholder="Email">
                <i class="signup-icon fa fa-envelope"></i>
            </p>
            <p class="control has-icon" >
                <input type="password" id="password" class="input" 
                    formControlName="password" placeholder="Mot de passe">
                <i class="signup-icon fa fa-lock"></i>
            </p>
            <div *ngIf="myForm.controls.password.errors?.minlength">
                Veuillez renseigner un mot de passe d'au minimum 8 caractères
            </div>
            <p class="control has-icon">
                <input type="password" id="lastName" class="input" 
                    formControlName="confirmPassword" placeholder="Confirmer le mot de passe">
                <i class="signup-icon fa fa-lock"></i>
            </p>
            <div *ngIf="myForm.errors?.mismatchedPasswords">
                Veuillez renseigner deux mots de passes identiques
            </div>
            <button type="submit" class="button is-orange is-fullwidth" [disabled]="!myForm.valid">S'inscrire</button>
        </form>
    </div>
    <div id="signup-helper" class="columns">
        <div class="column is-12 has-text-centered border-right" [routerLink]="['/auth', 'signin']">
            <span class="icon">
                <i class="fa fa-sign-in"></i>
            </span>
            Déja un compte ? Se connecter
        </div>
    </div>
</div>